.status-card {
  justify-content: center;
  padding: 30px;
  display: flex;
  align-items: center;
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.5s ease 0s;
  margin-bottom: 30px;
}

.status-card__icon {
  width: 18%;
  height: 100%;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.status-card__info {
  width: 17rem;
  text-align: center;
  z-index: 1;
  text-transform: capitalize;
}

.status-card__info > h4 {
  font-size: 3rem;
  margin-bottom: 10px;
}
.status-card__info  span {
  font-size: 1.4rem;
}
.status-card::before {
  content: "";
  width: 100%;
  border-radius: 50%;
  padding-top: 100%;
  background-image: linear-gradient(to top right, var(--main-color), var(--second-color));
  position: absolute;
  left: -50%;
  top: 0;
  transform: scale(0);
  transition: transform 0.8s ease 0s;
}

.status-card:hover::before {
  transform: scale(3);
}

.status-card:hover {
  color: var(--txt-white);
}

@media screen and (max-width: 768px) {
  .status-card {
    padding: 10px;
    flex-wrap: wrap;
    border-radius: 5px;
    margin-bottom: 2px;
    }
  .status-card__info h4 {
    font-size: 2rem;
    margin-bottom: 5px;
  }
  .status-card__info span {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  .status-card__icon i {
    font-size: 2rem;
  }
}
